<div class="admin-btns">

  <%#= link_to 'Add Service Item', new_admin_service_service_item_path(service), class:"btn btn-primary" do %>

  <%# end %>

  <%= link_to admin_service_path(service_mango), class:"btn" do %>
  <i class="far fa-eye"></i>
  <% end %>

  <%= link_to edit_admin_service_path(service_mango), class:"btn" do %>
    <i class="fas fa-edit"></i>
  <% end %>

  <%= link_to admin_service_path(service_mango), method: :delete, data: { confirm: "Are you sure you want to delete the service #{service_mango.name.upcase}?" }, class:"btn" do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
</div>
