<div class="service-item">
  <div class="service-item-content service-item-info">
    <%= service_item_mango.content%>
  </div>
  <div class="service-item-type service-item-info">
    <%= service_item_mango.data_type%>
  </div>
  <div class="service-item-price service-item-info">
    <%= service_item_mango.unit_price%>
  </div>
</div>

<!-- ### select same words multiple times cmd + d -->
