<div class="service-item">
  <div class="service-item-content service-item-info title-bold">
    Content
  </div>
  <div class="service-item-additional-information service-item-info title-bold">
    Additional Information
  </div>
  <div class="service-item-category service-item-info title-bold">
    Category
  </div>
  <div class="service-item-type service-item-info title-bold">
    Type
  </div>
  <div class="service-item-price service-item-info title-bold">
    Price
  </div>
  <div class="service-item-action service-item-info title-bold">
    Action
  </div>
</div>
