<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 form">

      <h3>Service: <%= @service.name %></h3>
      <p> <%= @service.description %></p>

      <%= link_to 'Back to Services', admin_services_path, class:"btn btn-primary btn-lg"%>

    </div>
  </div>
</div>

