<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 form">
      <div class="">
        <div class="card-body">
          <div class="order-details-card">

            <h3><%= @service.name %></h3>
            <hr/>
            <p> <%= @service.description %></p>

            <%= link_to 'Back to Services', admin_services_path, class: "rounded-btn-no-flex" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


