.admin-services-page {
  padding: 20px;
  padding-top: 70px;
}


.service-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .new-service-form-btn {  // background-color: pink;

    font-size: 18px;
    font-weight: bold;
  }
}
  .services-title {
    font-size: 22px;
    font-weight: bold;
    // margin: 20px 0px;
    margin-bottom: 30px;
  }


.service-name-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  .service-name {  // background-color: pink;
    font-size: 18px;
    font-weight: bold;
    color: #666666;
    &:hover {
      text-decoration: none;
      color: brown;
    }
  }
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.new-service-item-form-btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 20px 0px;
  .a-text {
    margin-left: 10px;
  }
  &:hover {
    cursor: pointer;
    color: brown;
  }
}

.admin-btns {
  margin-left: 8px;
  a {
    margin-left: 8px;
    font-size: 14px;
    padding: 0px;
    color: rgb(100,100,100);
    &:hover {
      cursor: pointer;
      color: brown;
    }
  }
}

.new-service-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  color: rgb(80,80,80);
  .a-text {
    margin-left: 8px;
  }
  &:hover {
    text-decoration: none;
    color: brown;
  }
}

.service-items {
  border-bottom: 1px solid rgba(220,224,244,0.8);
  padding-bottom: 20px;
  .service-item.bigger {
    height: 40px;
    background-color: rgb(250,250,250);
    &:hover {
     background-color: rgb(250,250,250);
    }
  }
  .service-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid rgba(220,224,244,0.4);
    margin: 4px 0 4px 0;
    padding: 5px 10px;
    background-color: white;
    font-size: 14px;
    &:hover {
      background-color: #F4F4F4;
    }
    .service-item-content {
      // background-color: blue;
      width: 30%;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .service-item-additional-information {
      // background-color: pink;
      width: 30%;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .service-item-category {
      // background-color: blue;
      width: 12.5%;
      // text-align: center;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .service-item-type {
      // background-color: red;
      width: 12.5%;
      text-align: center;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
    .service-item-price {
      // background-color: brown;
      width: 12.5%;
      text-align: center;
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }

    }
    .service-item-action {
      // background-color: orange;
      width: 12.5%;
      text-align: center;
    }
    .service-item-info {
      color: black;

    }
    .title-bold {
      font-weight: bold;
    }
    .service-item-icon {
      margin-left: 5px;
      i {
        font-size: 13px;
        color: rgb(80,80,80);
      }
      &:hover {
        i {
        cursor: pointer;
        color: brown;
         }
      }

    }
  }
}

.services {

}

.manage-services-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-description {
  margin-top: 6px;
}









