<div class="container">
</div>

<!-- Displaying order items & corresponding service items -->

<div class="admin-container">

  <div class="col-xs-12 col-sm-6 col-md-6">
    <%= render 'tasks_tab_big_card' %>
  </div>

  <div class="cards-container">
    <%= render "tasks_tab_small_cards" %>
  </div>
</div>
