
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.content {
  flex: 1
}


.flexbox {
  display: flex;
  justify-content: space-around;
}

.flex-item {
  flex: 1 1 27%;
}

.absolute {
  position: absolute;
  bottom: 20px;
}
