<div class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <%= link_to 'Home', root_path %>
      <%= link_to 'Orders', orders_path %>
      <%= link_to 'Services', admin_services_path %>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
