
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(222,222,222,0.6) 0%, rgba(0,36,61,0.6) 70%), url('https://picsum.photos/2400/1800?image=1025');">
  <!-- other banner photo options: 1000(summits), 994(sunset), 1021(b&w fog), 1052(b&w ocean), 1064(b&w fog), 1018(green rocks), 1025(dog) -->

  <div class="container">

    <div class="row">
      <div class="banner-content">
        <h1>Moving On</h1>
        <p id="banner-paragraph">Home clearance in the event of death</p>

        <% if user_signed_in? %>
          <%= link_to "Start now", new_order_path,class:"rounded-btn-home" %>
        <% else %>
          <%= link_to "Start now", new_user_session_path,class:"rounded-btn-home" %>
        <% end %>
      </div>
    </div>

    <div class="row margin-top">
      <%  Service.all.first(3).each do |service|%>
        <div class="col col-xs-12 col-sm-4">
          <div class="card homepage-card" >
            <div class="card-body">
              <h4 class="card-title"><%= service.name %> </h4>
              <hr/ class="homepage-card-hr">
              <!-- <img style="height:25px" src="../assets/service_icon.png" alt="Service"> -->
              <p class="card-text"><%= service.description %> </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
