.form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  font-weight: 300;
  h2 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
  }

.sub-form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  // box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  font-weight: 300;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.item-content {
  width: 100% !important;
  margin-bottom: 20px;


}

  //   item-content input {
  //   border: none;
  //   border-bottom: solid $gray 3px;
  //   width: 100%;
  // }
  .form-control {
    border-top: none;
    border-bottom: solid $gray 3px;


  }

// input {
//   border: none;
//   border-bottom: solid $gray 3px;

// }

  .btn {
    margin-bottom: 20px;
  }
}


input {
  font-weight: 300;
  // width: 80% !important;
}

.form-input-width-80 {
  width: 60% !important;
}

.submit {
  bottom: 10px;
  right:10px
}

